{{ form_start(updateUserForm) }}
{{ form_row(updateUserForm.name) }}
{{ form_row(updateUserForm.firstname) }}
{{ form_row(updateUserForm.numberPeople) }}
{{ form_row(updateUserForm.phone) }}
{{ form_row(updateUserForm.allergy) }}
{{ form_row(updateUserForm.RGPDConsent) }}

<button class="btn btn-primary">Modifier</button>
{{ form_end(updateUserForm) }}
