<footer>
<link rel="stylesheet" href="stylesFooter.css">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="address text-center">
					Quai Antique<br>
					2 Rue Favre<br>
					73000 Chambery<br>
					03 88 88 88 88
				</div>
				<div class="logo-container">
					<a href="#">
						<img src="../assets/pictures/logo.png" alt="Logo">
					</a>
				</div>
				<div class="links text-center">
					<a href="{{path('app_main')}}">Accueil</a>
					<a href="{{ path('app_card_menu')}}">Menu & Carte</a>
					<a href="{{ path('app_book')}}">Réserver</a>
					<a href="{{path('app_login')}}">Se connecter</a>
				</div>
				<div class="credit text-center">
					Réalisé par Melwyn -
					<a href="{{path('app_privacy_policy')}} ">Copyright 2023</a>
					-
					<a href="{{path('app_legal_notice')}}">Mentions légales</a>
				</div>
			</div>
		</div>
	</div>
</footer>
