<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav m-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" href="{{ path('app_main') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{{ path('app_card_menu')}}">Menu & Carte</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{{ path('app_book')}}">Reserver</a>

				</li>
			</ul>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('app_admin') }}" class="btn btn-primary">Admin</a>
				{% endif %}
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_account_index') }}">Mon compte</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_logout') }}">Me déconnecter</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_login') }}">Me connecter</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('app_register') }}">S'inscrire</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
