{{ form_start(flatFormulaire, {'attr': {'id': 'monFormulaire'}}) }}
{{ form_row(flatFormulaire.name) }}
{{ form_row(flatFormulaire.titre) }}
{{ form_row(flatFormulaire.description) }}
{{ form_row(flatFormulaire.price) }}
{{ form_row(flatFormulaire.category) }}
{{ form_row(flatFormulaire.menu) }}
{{ form_row(flatFormulaire.images) }}
<button class="btn-style primary">Publier</button>
<a href="{{ path('app_admin') }}" class="btn btn-primary">Panneau d'administration</a>


{{ form_end(flatFormulaire) }}
