{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>Le Quai Antique | Chambéry</h1>
			</div>
			<div class="col-12 mt-5 ms-5">
				<h2>Vos plats préféres, cuisinés avec soin et passion</h2>
				<br>
				<h4>Vos salades préférés</h4>
			</div>
			{% for flat in saladPrefer %}
				<div class="col-6 mt-5">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">{{flat.name}}</h5>
							<img src="" class="card-img-top" alt="test">
							<p class="card-text">{{flat.description}}</p>
						</div>
					</div>
				</div>
			{% endfor %}

			<div class="col-12 mt-5 ms-5">
				<h4>Vos plats préférés</h4>
				<br>
			</div>
			{% for flat in flatPrefer %}
				<div class="col-6 mt-5">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">{{flat.name}}</h5>
							<img src="" class="card-img-top" alt="...">
							<p class="card-text">{{flat.description}}</p>
						</div>
					</div>
				</div>
			{% endfor %}

			<div class="col-12 mt-5 ms-5">
				<h4>Vos fromages préférés</h4>
				<br>
			</div>
			{% for flat in cheesePrefer %}
				<div class="col-6 mt-5">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">{{flat.name}}</h5>
							<img src="" class="card-img-top" alt="...">
							<p class="card-text">{{flat.description}}</p>
						</div>
					</div>
				</div>
			{% endfor %}

			<div class="col-12 mt-5 ms-5">
				<h4>Vos desserts préférés</h4>
				<br>
			</div>
			{% for flat in dessertPrefer %}
				<div class="col-6 mt-5">
					<div class="card" style="width: 18rem;">
						<div class="card-body">
							<h5 class="card-title">{{flat.name}}</h5>
							<img src="" class="card-img-top" alt="...">
							<p class="card-text">{{flat.description}}</p>
						</div>
					</div>
				</div>
			{% endfor %}


			<button class="btn btn-lg btn-primary mt-3 mb-3" type="submit">
				Reserver une table
			</button>
			<div>
				<h3>Nos horaires</h3>
				{% for hour in dayClose %}
					<p class="row">Fermé le :
						{{hour.dayweek}}</p>
				{% endfor %}
				{% for hour in dayOpen %}
					<p class="row">Ouvert le :
						{{hour.dayweek}}
						de
						{{hour.lunchOpeningTime|date('H\\hi')}}
						à
						{{hour.lunchClosingTime|date('H\\hi')}}
						et le soir de
						{{hour.dinnerOpeningTime|date('H\\hi')}}
						à
						{{hour.dinnerClosingTime|date('H\\hi')}}
					</p>
				{% endfor %}
			</div>


		</section>
	</main>
{% endblock %}
