{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}


{% block body %}
	<div class="containerPrincipal">
		<div class="imageAccueil-container">
			<img src="assets/pictures/restaurant.jpg" alt="restaurant le Quai Antique" class="rounded-image">
			<h1 class="image-title">DECOUVREZ NOTRE RESTAURANT<br>SAVOYARD | CHAMBERY</h1>
		</div>

		<h2 class="histoire-title">Notre histoire</h2>
		<div class="info-box">
			<p>Le restaurant au Quai Antique est un nouvel établissement situé au cœur de Chambéry qui propose une cuisine traditionnelle savoyarde, utilisant des ingrédients locaux et de saison pour des plats savoureux et authentiques. Le chef Arnaud Michant, formé dans les meilleurs restaurants de la région, dirige le restaurant et propose une carte qui change régulièrement pour refléter les meilleurs produits de la saison. Le service est amical et attentif.</p>
		</div>

		<h3 class="title-h3">
			Vos plats préférés,<br>
			cuisinés avec soin et passion
		</h3>

		<div class="imageFlat-grid">
			{% for flat in flat %}
				{% if flat.images.first() %}
					<div class="imageFlat-container">
						<img src="{{ asset('assets/uploads/flats/mini/300x300-' ~ flat.images.first().titre) }}" alt="{{ flat.name }}">
						<div class="overlay">{{ flat.name }}</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>

		<a href="{{ path('app_book') }}" class="btn-reserve">
			Reserver une table</a>

		<h3 class="titre-horaire">Nos horaires</h3>

		<div class="horaire-container">
			{% for hour in hour %}
<p>
	{{ hour.dayWeek }}
	<span class="hour-footer">{{ hour.lunchOpeningTime }}
		-
		{{ hour.lunchClosingTime }}</span>, puis de
	<span class="hour-footer">{{ hour.dinnerOpeningTime }}
		-
		{{ hour.dinnerClosingTime }}</span>
</p>


			{% endfor %}
		</div>

	</div>
	<!-- containerPrincipal -->


{% endblock %}
