{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}


	<main class="container">
		<section class="row">
			<div class="col-12">
				<h1>Le Quai Antique | Chambéry</h1>
				<h2 class="title-h2">
					Vos plats préférés, cuisinés avec soin et passion
				</h2>

				<div class="image-grid">
					{% for flat in flat %}
						{% if flat.images.first() %}
							<div class="image-container">
								<img src="{{ asset('assets/uploads/flats/mini/300x300-' ~ flat.images.first().titre) }}" alt="{{ flat.name }}">
								<div class="overlay">{{ flat.name }}</div>
							</div>
						{% endif %}
					{% endfor %}
				</div>


				<a href="{{ path('app_book') }}" class="mt-3 mb-5 btn btn-primary">
					Reserver une table</a>

				<h3 class="titre-horaire">Nos horaires</h3>

				<div class="horaire-container">
					{% for hour in hour %}
						<p>Le
							{{ hour.dayWeek }}
							{{ hour.lunchOpeningTime }}
							-
							{{ hour.lunchClosingTime }}
							et
							{{ hour.dinnerOpeningTime }}
							-
							{{ hour.dinnerClosingTime }}</p>
					{% endfor %}
				</div>
			{% endblock %}
