{{ form_start(hourFormulaire) }}
{{ form_row(hourFormulaire.dayWeek) }}
{{ form_row(hourFormulaire.lunchOpeningTime) }}
{{ form_row(hourFormulaire.lunchClosingTime) }}
{{ form_row(hourFormulaire.dinnerOpeningTime) }}
{{ form_row(hourFormulaire.dinnerClosingTime) }}
{{ form_row(hourFormulaire.restaurant) }}
<button class="btn btn-primary">Publier</button>
{{ form_end(hourFormulaire) }}
