{% extends "base.html.twig" %}

{% block title %}Liste des horaires
{% endblock %}

{% block body %}
	<h2 class="histoire-title">Liste des horaires</h2>
	<div class="container">
		<div class="row">
			<main class="col-md-9 border border-light bg-white p-2">
				<a href="{{ path('app_admin') }}" class="btn btn-primary">Panneau d'administration</a>

				<div class="table-responsive mt-3">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Jour de semaine</th>
								<th>Heure ouverture déjeuner</th>
								<th>Heure fermeture déjeuner</th>
								<th>Heure ouverture dîner</th>
								<th>Heure fermeture dîner</th>
								<th>Restaurant</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for hour in hour %}
								<tr>
									<td>{{ hour.dayWeek }}</td>
									<td>{{ hour.lunchOpeningTime }}</td>
									<td>{{ hour.lunchClosingTime }}</td>
									<td>{{ hour.dinnerOpeningTime }}</td>
									<td>{{ hour.dinnerClosingTime }}</td>
									<td>{{ hour.restaurant.name }}</td>
									<td>
										<a href="{{ path('admin_hour_edit', {id: hour.id}) }}" class="btn btn-success">Modifier</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</main>
		</div>
	</div>
{% endblock %}
