{% extends 'base.html.twig' %}

{% block title %}Carte et Menu
{% endblock %}

{% block body %}
	<main class="container">
		<h2>Carte & Menu</h2>
		<br>
		<h3>Notre carte</h3>
		<main class="col-12">
			<section class="row">
				{% for category in categories %}
					<div class="col-12">
						<div class="card-body">
							<h5 class="card-title">{{category.name}}</h5>
							{% for flat in category.flats %}
								<p>
									Nom du plat :
									{{flat.name}}
									<br>
									Description du plat :
									{{flat.description}}
									<br>
									Prix :
									{{flat.price}}
									€
								</p>
							{% endfor %}
						</div>
					</div>
				{% endfor %}


				<div class="col-12">
					<h3>Nos menus</h3>
					{% for menu in menuExpress %}
						<div class="card-body">
							<h5 class="card-title">Menu
								{{menu.name}}</h5>

							<h6>
								{% for category in burger %}
									{{category.name}}
									+
								{% endfor %}
								{% for category in dessert %}
									{{category.name}}
								{% endfor %}
							</h6>


							<p>description du menu :
								{{menu.description}}</p>
							<p>prix :
								{{menu.price}}
								€
							</p>
						</div>
					</div>
				{% endfor %}

			</div>

			<button class="btn btn-lg btn-primary mt-3" type="submit">
				Reserver une table
			</button>

			<div>
				<h3>Nos horaires</h3>
				{% for hour in dayClose %}
					<p class="row">Fermé le :
						{{hour.dayweek}}</p>
				{% endfor %}
				{% for hour in dayOpen %}
					<p class="row">Ouvert le :
						{{hour.dayweek}}
						de
						{{hour.lunchOpeningTime|date('H\\hi')}}
						à
						{{hour.lunchClosingTime|date('H\\hi')}}
						et le soir de
						{{hour.dinnerOpeningTime|date('H\\hi')}}
						à
						{{hour.dinnerClosingTime|date('H\\hi')}}
					</p>
				{% endfor %}
			</div>

		</section>
	</main>
</main>{% endblock %}
