{% extends 'base.html.twig' %}

{% block title %}Carte et Menu
{% endblock %}
{% block body %}
	<div class="containerPrincipal">
		<h2 class="histoire-title">Savourez nos délicieux plats faits maison, inspiré par le chef Arnaud Michant</h2>
		<span class="separateur"><img src="assets/pictures/separateur.png" alt="séparateur"></span>
		{% for category in categories %}
			<div class="category">
				<h2>{{category.name}}</h2>
				{% for flat in category.flats %}

					<div class="menu-item">
						<div class="menu-item-name">{{ flat.name }}<span class="dots">...................</span>
							<span class="menu-item-price">{{ flat.price }}</span>
						</div>
						<div class="menu-item-description">{{ flat.description }}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endfor %}
</div>


<style>
	.separateur {
		display: flex;
		justify-content: center;
		margin: 10px 0;
	}

	.separateur img {
		height: 60px;
	}
	.menu-item {
		display: flex;
		flex-direction: column;
	}

	.menu-item-name {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 18px;
	}

	.dots {
		width: 100%;
		text-align: center;
	}

	.menu-item-price {
		margin-left: 5px;
	}

	.menu-item-description {
		font-size: 14px;
		margin-top: 5px;
	}

	/* 
		.category {
			text-align: center;
		}

		.category h2 {
			color: #040F48;
			font-family: 'David Libre', sans-serif;
			font-size: 26px;
		}

		.flat {
			display: flex;
			align-items: center;
			margin: 10px 0;
		}

		.flat-info {
			display: flex;
			flex-direction: column;
			margin-right: 10px;
		}

		.flat-name {
			color: #C78522;
			font-family: 'Saira', sans-serif;
			font-size: 18px;
			flex: left;
		}
		.flat-price {
			color: #C78522;
			font-family: 'Saira', sans-serif;
			font-size: 18px;
			flex: right;
		}

		.flat-description {
			color: #493414;
			font-family: 'Saira', sans-serif;
			font-size: 14px;
		}

		.flat-price {
			color: #C78522;
			font-family: 'Saira', sans-serif;
			font-size: 18px;
		} */
</style>{% endblock %}{# 
																																							<div class="col-12">
																																								<h3>Nos menus</h3>
																																								{% for menu in menuExpress %}
																																									<div class="card-body">
																																										<h5 class="card-title">Menu
																																											{{menu.name}}*</h5>
																																										<br>
																																										<h6>Burger + Dessert</h6>
																																										<p>Où</p>
																																										<h6>Plat + Dessert</h6>
																																										<p>
																																											*{{menu.description}}</p>
																																										<p>prix :
																																											{{menu.price}}
																																											€
																																										</p>
																																									</div>
																																								{% endfor %}
																																							</div>
																																			
																																							<div class="col-12">
																																								<h3>Nos menus</h3>
																																								{% for menu in menuSavoyard %}
																																									<div class="card-body">
																																										<h5 class="card-title">Menu
																																											{{menu.name}}</h5>
																																										<h6>Entrées</h6>
																																										<p>Soupe de crozet où diots</p>
																																										<h6>Plats</h6>
																																										<p>fondue savoyarde où croziflette</p>
																																										<h6>Desserts</h6>
																																										<p>Tiramisu où salade de fruits</p>
																																										<p>
																																											{{menu.description}}</p>
																																										<p>prix :
																																											{{menu.price}}
																																											€
																																										</p>
																																									</div>
																																								{% endfor %}
																																							</div>
																																			
																																							<div class="col-12">
																																								<h3>Nos menus</h3>
																																								{% for menu in menuComplet %}
																																									<div class="card-body">
																																										<h5 class="card-title">Menu
																																											{{menu.name}}</h5>
																																										<h6>Entrée au choix</h6>
																																										<h6>Burger où plat au choix</h6>
																																										<h6>Fromage au choix</h6>
																																										<h6>Dessert au choix</h6>
																																										<p>
																																											{{menu.description}}</p>
																																										<p>prix :
																																											{{menu.price}}
																																											€
																																										</p>
																																									</div>
																																								{% endfor %} #}
