{% extends 'base.html.twig' %}

{% block title %}Carte et Menu
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="stylesCardMenu.css">
	<div class="containerPrincipal">
		<span class="titleMargeh2">
			<h2 class="histoire-title">Savourez nos délicieux plats faits maison, inspiré par le chef Arnaud Michant</h2>
		</span>
		<span class="separateur">
			<img src="assets/pictures/separateur.png" alt="séparateur">
		</span>
		{% for category in categories %}
			<span class="titre-category-name">
				<h2 class="histoire-title">{{category.name}}</h2>
			</span>
			{% for flat in category.flats %}
				<div class="flat-item">
					<span class="flat-name">{{ flat.name }}</span>
					<span class="flat-price">{{ flat.price }}€<span></div>
						<span class="flat-description">{{ flat.description }}</span>
					{% endfor %}
				{% endfor %}
				<span class="titre-category-name">
					<h2 class="histoire-title">Découvrez nos menus variés,<br>
						pour tous les goûts</h2>
				</span>
				<div class="menu-container">
					{% for menu in menus %}
						<div class="cardMenu">
							<h5 class="titreMenu">
								<U>{{ menu.name }}</U>
							</h5>
							{% if menu.id == 1 %}
								<p class="choiceMenu"><br><br>Burger + Dessert<br><br><B>
										<U>ou</U>
									</B><br><br>Plat + Dessert<br></p>
							{% elseif menu.id == 2 %}
								<p class="choiceMenu"><br>Soupe de crozet
									<B>
										<U>ou</U>
									</B>
									Diots<br>-------------<br>Fondue savoyarde
									<B>
										<U>ou</U>
									</B>
									Croziflette<br>-------------<br>Tiramisu
									<B>
										<U>ou</U>
									</B>
									Salade de fruits<br><br></p>
							{% else %}
								<p class="choiceMenu">Entrée au choix<br>-------------<br>Burger
									<B>
										<U>ou
										</U>
									</B>Plat au choix<br>-------------<br>Fromage au choix<br>-------------<br>Dessert au choix</p>
							{% endif %}
							<p class="prixDescriptionMenu">
								<span class="description">{{ menu.description }}</span>
								<span class="prix">{{ menu.price }}€</span>
							</p>
						</div>
						{# cardMenu #}
						<span class="separateur">
							<img src="assets/pictures/separateur.png" alt="séparateur">
						</span>
					{% endfor %}
				</div>
				{# menu-container #}

				<div class="boutonHeure">
					<a href="{{ path('app_book') }}" class="btn-reserve">Reserver une table</a>
				</div>

				<div class="titreHoraire">
					<h3 class="titre-horaire">Nos horaires</h3>
				</div>

				<div class="horaire-container">
					{% for hour in hour %}
						<p>
							{{ hour.dayWeek }}
							<span class="hour-footer">{{ hour.lunchOpeningTime }}
								-
								{{ hour.lunchClosingTime }}</span>, puis de
							<span class="hour-footer">{{ hour.dinnerOpeningTime }}
								-
								{{ hour.dinnerClosingTime }}</span>
						</p>


					{% endfor %}
				</div>
			</div>
			{# containerPrincipal #}
		{% endblock %}
