{{ form_start(bookForm) }}
{{ form_row(bookForm.dateReservation) }}
<button onclick="test()">Click Me</button>


{{ form_row(bookForm.hourReservation) }}
{{ form_row(bookForm.numberPeople) }}
{{ form_row(bookForm.civility) }}
{{ form_row(bookForm.firstname) }}
{{ form_row(bookForm.name) }}
{{ form_row(bookForm.phone) }}
{{ form_row(bookForm.email) }}
{{ form_row(bookForm.allergy) }}
{{ form_row(bookForm.RGPDConsent) }}


<button type="submit" class="btn btn-primary">Réserver</button>
{{ form_end(bookForm) }}
