{% extends 'base.html.twig' %}

{% block title %}Confirmation réservation
{% endblock %}

{% block body %}
	<h2 class="histoire-title">Confirmation de la réservation</h2>
			<div class="container-reini">
		<section class="container my-3">
				<div class="row">
					<div class="col">
						<p class="horaire-container">
							{{ civility }}
							{{ name }}
							Votre table vous attend le
							{{ dateReservation|date('d/m/Y') }}
							pour le service du
							{{ serviceType }}
							à
							{{ hour|date('H:i') }}.
							<br>Cette réservation est pour
							{{ numberPeople }}
							personne(s).<br>
							En cas d'empechement merci de nous contacter.
						</p>
					</div>
		</section>
				</div>
	{% endblock %}
