{% extends 'base.html.twig' %}


{% block title %}Reservation
{% endblock %}


{% block body %}

	<section class="container">
		<div class="row">
			<div class="col">
				<h2>Reservation</h2>
				{{ form_start(bookForm, {'attr': {'id': 'monFormulaire'}}) }}
				<div id="erreur"></div>
				{{ form_row(bookForm.dateReservation) }}
				{{ form_row(bookForm.serviceType) }}
				{{ form_row(bookForm.hour) }}
				{{ form_row(bookForm.numberPeople) }}
				<h5 id="responseRequete"></h5>
				{{ form_row(bookForm.civility) }}
				{{ form_row(bookForm.firstname) }}
				{{ form_row(bookForm.name) }}
				{{ form_row(bookForm.phone) }}
				{{ form_row(bookForm.email) }}
				{{ form_row(bookForm.allergy) }}
				{{ form_row(bookForm.RGPDConsent) }}
				<button type="submit" class="btn btn-primary">Réserver</button>
				{{ form_end(bookForm) }}
			</div>
		</div>
	</section>

	<script>

		const bookingForm = document.querySelector('#monFormulaire');

// console.log(formData);
const serviceType = document.querySelector('#book_form_serviceType');

const dateReservation = document.querySelector('#book_form_dateReservation');

const numberPeople = document.querySelector('#book_form_numberPeople');


const responseRequete = document.getElementById('responseRequete')
const numberPeopleField = document.getElementById('book_form_numberPeople');
numberPeopleField.addEventListener('change', () => { // console.log(document.querySelector('#monFormulaire')[1].value)
console.log(serviceType.value);
console.log(serviceType);
fetch(`/reservation/check-availability/${
serviceType.value
}/${
dateReservation.value
}/${
numberPeople.value
}`)
.then(res => res.json())
.then(ret => {

console.log(ret)

responseRequete.textContent = `Bonjour ${
ret
} ${
ret
}, votre réservation a bien été prise en compte.`
})
})
	</script>

{% endblock %}

{#  Boucle ForEach sur Fetch
// 	fetch('/is-full-api').then(res => res.json()).then(ret => {
// 	ret.forEach(element => {
// 	console.log(element.name)
// 	console.log(element.firstname)
// 	responseRequete.textContent = `Bonjour ${
// 	element.name
// 	} ${
// 	element.firstname
// 	}, votre réservation a bien été prise en compte.`
// 	}) #}


{# Afiiche le 2eme element du tableau
// 	fetch('/is-full-api').then(res => res.json()).then(ret => {
// 	console.log(ret[1].firstname)
// 	responseRequete.textContent = `Bonjour ${
// 	ret[1].name
// 	} ${
// 	ret[1].firstname
// 	}, votre réservation a bien été prise en compte.`
// 	}) #}
