{% extends 'base.html.twig' %}

{% block title %}Reservation
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col">
				<h3>Pour reservez une table, sélectionnez d'abord une date</h3>
				{{ form_start(bookForm, {'attr': {'id': 'monFormulaire'}}) }}
				<div id="erreur"></div>
				{{ form_row(bookForm.dateReservation) }}
				{{ form_row(bookForm.serviceType) }}
				{{ form_row(bookForm.hour) }}
				{{ form_row(bookForm.numberPeople) }}
				<h5 id="responseRequete"></h5>
				<h3>Veuillez saisir vos informations personnelles.</h3>
				{{ form_row(bookForm.civility) }}
				{{ form_row(bookForm.firstname) }}
				{{ form_row(bookForm.name) }}
				{{ form_row(bookForm.phone) }}
				{{ form_row(bookForm.email) }}
				{{ form_row(bookForm.allergy) }}
				{{ form_row(bookForm.RGPDConsent) }}
				<button type="submit" id="submitBtn" class="btn btn-primary">Réserver</button>
				{{ form_end(bookForm) }}
			</div>
		</div>
	</section>
	<script src="{{ asset('assets/js/fichier/scriptBook.js') }}"></script>

{% endblock %}
