{{ form_start(capacityFormulaire) }}
{{ form_row(capacityFormulaire.capacityMaxLunch) }}
{{ form_row(capacityFormulaire.capacityMaxDinner) }}
{{ form_row(capacityFormulaire.numberTable) }}
{{ form_row(capacityFormulaire.numberChair) }}

<button class="btn btn-primary">Publier</button>
{{ form_end(capacityFormulaire) }}
