{{ form_start(capacityFormulaire, {'attr': {'id': 'monFormulaire'}}) }}

{{ form_row(capacityFormulaire.capacityMaxLunch) }}
{{ form_row(capacityFormulaire.capacityMaxDinner) }}
{{ form_row(capacityFormulaire.numberTable) }}
{{ form_row(capacityFormulaire.numberChair) }}
<button class="btn-style primary">Publier</button>
<a href="{{ path('app_admin') }}" class="btn btn-primary">Panneau d'administration</a>


{{ form_end(capacityFormulaire) }}
