{% extends "base.html.twig" %}

{% block title %}Gérer la capacité d'accueil
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<main class="col-md-9 mx-auto bg-white p-2">
				<h2 class="histoire-title">Gérer la capacité</h2>
				<div class="d-flex justify-content-between mb-3">
					<a href="{{ path('app_admin') }}" class="btn btn-primary">Panneau d'administration</a>
					<a href="{{ path('admin_capacity_edit', {id: capacity.id}) }}" class="btn btn-success">Modifier</a>
				</div>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Capacité maximum du déjeuner</th>
								<th scope="col">Capacité maximum du dîner</th>
								<th scope="col">Nombre de table</th>
								<th scope="col">Nombre de chaise</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{ capacity.capacityMaxLunch }}</td>
								<td>{{ capacity.capacityMaxDinner }}</td>
								<td>{{ capacity.numberTable }}</td>
								<td>{{ capacity.numberChair }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</main>
		</div>
	</div>
{% endblock %}

