{% extends "base.html.twig" %}

{% block title %}Gérer la capacité d'accueil
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<main class="col-9 border border-light bg-white p-2">
				<h1>Gérer la capacité</h1>
				<a href="{{ path('app_admin') }}" class="btn btn-primary">Panneau d'administration</a>
				<table class="table">
					<thead>
						<tr>
							<th>Capacité maximum du déjeuner</th>
							<th>Capacité maximum du dîner</th>
							<th>Nombre de table</th>
							<th>Nombre de chaise</th>
						</tr>
					</thead>
					<body>
						<tr>
							<td>{{ capacity.capacityMaxLunch }}</td>
							<td>{{ capacity.capacityMaxDinner }}</td>
							<td>{{ capacity.numberTable }}</td>
							<td>{{ capacity.numberChair }}</td>
							<td>
								<a href="{{ path('admin_capacity_edit', {id: capacity.id}) }}" class="btn btn-success">Modifier</a>
							</td>
						</tr>
					</body>
				</td>
			</body>
		</tr>
	</body>
</body></body></table></main></div></div>{% endblock %}
