<section class="container">
	<div class="row mt-3 mb-3">
		<div class="col">
			{{ form_start(photoForm) }}
			{{ form_row(photoForm.name) }}
			{{ form_row(photoForm.file) }}
			{{ form_row(photoForm.image) }}
			<button type="submit" class="btn btn-primary">{{ button_label | default ('Ajouter') }}</button>
			{{ form_end(photoForm) }}
		</div>
	</div>
</section>
