{{ form_start(menuFormulaire) }}
{{ form_row(menuFormulaire.name) }}
{{ form_row(menuFormulaire.description) }}
{{ form_row(menuFormulaire.price) }}
<button class="btn btn-primary">Publier</button>
{{ form_end(menuFormulaire) }}

