{% extends "base.html.twig" %}

{% block title %}Liste des menus
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<main class="col-9 border border-light bg-white p-2">
				<h1>Liste des menus</h1>
				<a href="{{ path('admin_menu_add') }}" class="btn btn-primary">Ajouter un menu</a>
				<a href="{{ path('app_admin') }}" class="btn btn-primary">Panneau d'administration</a>


				<table class="table">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nom du menu</th>
							<th>Description</th>
							<th>Prix</th>
						</tr>
					</thead>
					<body>
						{% for menu in menu %}
							<tr>


								<td>{{ menu.id }}</td>
								<td>{{ menu.name }}</td>
								<td>{{ menu.description }}</td>
								<td>{{ menu.price }}</td>
								<td>
									<a href="{{ path('admin_menu_edit', {id: menu.id})}}" class="btn btn-success">Modifier</a>
								</td>
								<td>
									<a href="{{ path('admin_menu_delete', {id: menu.id})}}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce menu ?')">Supprimer</a>

								</td>

							</tr>
						</td>
					</body>
				</tr>
			</body>
		{% endfor %}
	</body>
</body></table></main></div></div>{% endblock %}
